.btn{
	color: white;
	font-weight:600;
	border:none;
	border-radius: 5px;
	padding: 10px ;
}
.btn-2{
	color: white;
	font-weight:600;
	border:none;
	border-radius: 5px;
	padding: 15px ;
}
.btn-2:active  {
	padding: 20px;
	border-style:none;
}
.hit{
	background-color: blue;
}
.stand{
	background-color:#fbc101;
}
.deal{
	background-color: red;
}


.main-container {
	width: 90%;
	border-radius: 20%;
	margin: 0 auto;
	text-align: center;
}


.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    display: flex;
	padding: 10px;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
}


.flex-blackjack-row-1{
	background: rgb(1,90,1);
	color: white;
	padding: 10px;
	border: none;
	border-radius: .15in;
}

.flex-blackjack-row-2{
	color: white;
	border: none;
	border-radius: .15in;
}

.flex-blackjack-row-1 div{
	border: 2.5px solid black;
	border-radius: .14in;
	height: 450px;
	flex: 1;
}					

.flex-blackjack-row-2 div{
	border: 2.5px solid black;
	border-radius: .14in;
	padding: 10px;
}

table, th, td{
	padding: 5px;
	border: 2px solid black;
	border-collapse: collapse;
}
			
.flex-blackjack-row-1 img{
	width: 100px;
	height: 100px;
	object-fit: scale-down;
	flex-wrap: wrap;
	padding: 5px;
}

button:focus {
	outline:0;
}
