.btn{
	color: white;
	font-weight:600;
	border:none;
	border-radius: 5px;
	padding: 10px ;
}
.btn-2{
	color: white;
	font-weight:600;
	border:none;
	border-radius: 5px;
	padding: 15px ;
}
.btn-2:active  {
	padding: 20px;
	border-style:none;
}

.clickme, .google, .hit{
	background-color: blue;
}
.facebook, .stand{
	background-color:#fbc101;
}
.reset, .clear, .deal{
	background-color: red;
}
.generateCat, .insta{
	background-color: green;
}

.main-container {
	border: 1px solid black;
	width: 75%;
	margin: 0 auto;
	text-align: center;
}
.flex-container-1, .flex-container-2, .flex-container-3 ,.flex-container-4,
.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    display: flex;
	border: 1px solid black;
	padding: 15px;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
}

.flex-container-2 img{
	display: flex;
	padding: 15px;
	width: 150px;
	margin: 20px;
	box-shadow:0px 0px 50px rgb(5,5,255,.8);
}
 
#rock, #paper, #scissors {
	width: 150px;
	height: 150px;
 	object-fit: scale-down;
 	padding: 15px;
 }

.flex-container-3 img:hover {
	box-shadow:0px 0px 50px rgb(5,5,255,.8);
}

#color-change-btn{
	font-weight:800;
	padding: 5px;
	border-radius: 5px;
}

.flex-blackjack-row-1, .flex-blackjack-row-2{
	background: rgb(1,90,1);
	color: white;
	padding: 10px;
	border: none;
}

.flex-blackjack-row-1 div{
	border: 1px solid black;
	height: 350px;
	flex: 1;
}					

.flex-blackjack-row-2 div{
	border: 1px solid black;
	padding: 10px;
}

table, th, td{
	padding: 5px;
	border: 1px solid black;
	border-collapse: collapse;
}
			
.flex-blackjack-row-1 img{
	width: 100px;
	height: 100px;
	object-fit: scale-down;
	flex-wrap: wrap;
	padding: 5px;
}

button:focus {
	outline:0;
}